.noto-serif-{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body{
    background-color: #F5F8FF;
}

/* Nav section */
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 150px ;
}

.nav-items{
    display: flex;
    gap: 48px;
}
.nav-items li{
    list-style: none;
}

.nav-items a{
    text-decoration: none;
    color: black;
}

.list-1 a{
    font-family: inter;
    font-weight: bold;
}

.list-3 a{
    font-family: inter;
}

.list-2 a{
    font-family: inter;
    color: #8987A1;
}

/* Banner section */
.banner-section{
    width: 1050px;
    margin-top: 115px;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    align-items: center;
}

.banner-title{
    font-family: noto serif;
    font-size: 55px;
    font-weight: bold;
}

.banner-description{
    font-family: inter;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}

.banner-text-color{
    color: #E95A08;
}